.buttonTweetBig{
    color: #FFFFFF;
    background: #1DA1F2;
    border-radius: 9999px;
    width: 228px;
    height: 49px;  
    font-weight: 700;
    font-size: 15px;
}

.buttonTweetBig:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.buttonTweetMedium{
    color: #FFFFFF;
    background: #1DA1F2;
    border-radius: 9999px;
    width: 228px;
    height: 39px; 
    font-weight: 700;
    font-size: 15px;
}

.buttonTweetMedium:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.buttonTweetSmall{
    color: #FFFFFF;
    width: 228px;
    height: 30px;
    border: 1px solid #1DA1F2;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
}
.buttonTweetSmall:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.buttonTweetSecondaryMedium{
    color: #FFFFFF;
    width: 225px;
    height: 39px;
    border: 1px solid #1DA1F2;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
}
.buttonTweetSecondaryMedium:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}