@tailwind base;
@tailwind utilities;
@tailwind components;


:root {
    --branco: #FFFFFF;
    --black: #0F1419,
    --dark-1: #17202A,
    --dark-2: #1C2733,
    --dark-3: #283340,
    --dark-4: #3A444C,
    --dark-5: #5B7083,
    --dark-6: #8899A6,
    --dark-7: #EBEEF0,
    --dark-8: #F7F9FA,

    --primary-blue: #1DA1F2;
}