@import url(./global.css);

.containerMenu{
    width: 290px;
}

.containerMain{
    display: flex;
    width: 1255px;
    margin: 0 auto;
}

.containerFeed{
    height: 1000px;
    width: 600px;
}

.containerNews{
    width: 350px;
    margin-left: 30px;
    position: fixed;
    right: 120px;
}


.textoSide{
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-5);
    margin-left: 16px;
    margin-top: 5px;
}

.star{
    background-color: transparent;
    border: none;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header h1{
    font-weight: 700;
    font-size: 19px;
}