.container_SideMenu{
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 760px;
    position: fixed;
}

.container_SideMenu h1{
    margin-bottom: 15px;
    padding-top: 14px;
}

.container_ul{
    margin-bottom: 15px;
    margin-top: 15px;
}

.container_ul li{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.container_ul li a {
    text-decoration: none;
    display: flex;
    font-weight: 700;
    font-size: 19px;
    margin-left: 20px;
}

.container_ul li a:hover {
    opacity: 0.9;
}



.aCheckedHome{
    color: var(--primary-blue);
}

.aChecked:visited{
    color: var(--black);

}

.iconCor{
    color: var(--primary-blue);
}

.imgContainer{
    margin-top: 10px;
}