
.container_PostContainer{
    display: flex;
    width: 600px;

}

.containerIcons{
    display: flex;
}

.containerIconButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container_textIcon{
    margin-left: 12px;
}

.container_textIcon input{
    width: 530px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-5);
}