@import url(/src/styles/global.css);

.buttonTweetBig{
    width: 228px;
    height: 49px;
    background: var(--primary-blue);
    border-radius: 9999px;
    border: none;
    color: var(--branco);
    font-weight: 700;
    font-size: 15px;
}

.buttonTweetBig:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
    cursor: pointer;
}

.buttonTweetMedium{
    color: var(--branco);
    border: 1px solid var(--primary-blue);
    border-radius: 9999px;
    width: 228px;
    font-weight: 700;
    font-size: 15px;
}

.buttonTweetMedium:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.buttonTweetSmall{
    color: var(--branco);
    width: 228px;
    border: 1px solid var(--primary-blue);
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
    background-color: transparent;
}
.buttonTweetSmall:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.buttonTweetSecondaryMedium{
    color: var(--branco);
    width: 225px;
    border: 1px solid var(--primary-blue);
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
}
.buttonTweetSecondaryMedium:hover{
    opacity: 0.9;
    transition: ease-in 0.2s all;
}

.ButtonTwitterPost{
    width: 77px;
    height: 39px;
    background-color: var(--primary-blue);
    opacity: 0.5;
    border-radius: 9999px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: var(--branco);
}

.ButtonTwitterPost:hover{
    opacity: 1.0;
    cursor: pointer;
    transition: all 0.5s;
}